@use "./utils/_mixins" as *;
#kiosko {
  .content {
    @include mainContent(true);

    .banner {
    }
    h3 {
      font-family: "Caveat Variable", cursive;
      color: var(--primary-color);
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    & > .container {
      @include imageCarouselContainer(false);
      margin-bottom: 4rem;
    }
  }
}
